<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.CategoryMapper">
	
	<select id="list" resultType="com.app.view.pojo.Category" >
		 select c.id,c.name,c.remark,c.px,c.imgurl,c.type,t.name as typeText from category c
		 left join code t on t.code_id =c.type 	 
		 <where>
		 	<if test="name !=null and name != '' ">
		 		c.name like CONCAT('%', #{name}, '%')
		 	</if>	
		 	<if test="type !=null and type != '' ">
		 		and c.type =#{type}
		 	</if>	 
		 </where>	 
		  order by  CONVERT(c.px,SIGNED)	  
	</select>
	
	<insert id="add" parameterType="com.app.view.pojo.Category">
		INSERT INTO category (id,name,remark,imgurl,type,px) VALUES (
		#{id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},	
		#{remark,jdbcType=VARCHAR},	 
		#{imgurl,jdbcType=VARCHAR},
		#{type,jdbcType=VARCHAR},
		 #{px,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="com.app.view.pojo.Category">
		UPDATE category SET
		name=#{name,jdbcType=VARCHAR},
		PX=#{px,jdbcType=INTEGER},
		remark=#{remark,jdbcType=VARCHAR},
		imgurl=#{imgurl,jdbcType=VARCHAR},
		type=#{type,jdbcType=VARCHAR}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	   DELETE FROM category WHERE id IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
		<select id="findVideo" resultType="java.lang.Integer">
	select count(m.vid) from  
 	video_img m left join  category  c  on m.vid = c.id
 	where c.id in 
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
</mapper>