<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.PayMapper">
	
	<insert id="add" parameterType="com.app.view.entry.PayMent" >		
			  INSERT INTO user_order (user_id,out_trade_no,total_fee,body,trade_type,start_time)
			  VALUES(#{user_id,jdbcType=VARCHAR},
			  #{out_trade_no,jdbcType=VARCHAR},
			  #{total_fee,jdbcType=INTEGER}, 
			  #{body,jdbcType=VARCHAR},
			  #{trade_type,jdbcType=VARCHAR},
			  #{start_time,jdbcType=VARCHAR})	
			  	  
	</insert>
	
	<insert id="saveMoneyInfo" parameterType="com.app.view.entry.PayInfo">
	 INSERT INTO menoy_info (mch_id,out_trade_no,trade_no,payment_time,total_fee)
			  VALUES(#{mch_id,jdbcType=VARCHAR},
			  #{out_trade_no,jdbcType=VARCHAR},
			  #{trade_no,jdbcType=VARCHAR}, 
			  #{payment_time,jdbcType=VARCHAR},
			  #{total_fee,jdbcType=INTEGER})	
	</insert>



	
</mapper>