<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.UserMapper">

	<select id="find" resultType="User">
		select * from user
	</select>
	
	<select id="add" parameterType="com.app.view.pojo.User" resultType="java.lang.Integer">
		  INSERT INTO USER (id,name,creat_time,username,password,role_id) 
		  VALUES(#{id},#{name},#{creat_time},#{username},#{password},#{role_id})  
	</select>
	
	
</mapper>