<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.VideoMapper">
	
	<resultMap id="baseMap" type="com.app.view.pojo.Video">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="remark" column="remark" />
		<result property="px" column="px" />
		<result property="imgurl" column="imgurl" />
		<result property="videourl" column="videourl" />
		<result property="cid" column="cid" />
		<result property="cname" column="cname" />	
		<result property="watch" column="watch" />
		<collection property="imgs" ofType="java.lang.String">
			<id  column="img" />
		</collection>
	</resultMap>

  <select id="list" resultMap="baseMap">
		select v.id,v.name,v.remark,v.px,v.videourl,v.cid,v.imgurl,
		c.name as cname,v.watch,
		vi.imgurl as img from video v
        left join video_img vi on vi.vid = v.id
        left join category c on c.id = v.cid
		 <where>
		 	<if test="name !=null and name != '' ">
		 		v.name like CONCAT('%', #{name}, '%')
		 	</if>	 
		 		<if test="cid !=null and cid != '' ">
		 		v.cid =#{cid}
		 	</if>
		 </where>	 
		  order by CONVERT(c.px,SIGNED)	,CONVERT(v.px,SIGNED)	  
	</select>
	
	<insert id="add" parameterType="com.app.view.pojo.Video">
		INSERT INTO video (id,name,remark,cid,imgurl,watch,px) VALUES (
		#{id,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},	
		#{remark,jdbcType=VARCHAR},	 
		#{cid,jdbcType=VARCHAR},	 
		#{imgurl,jdbcType=VARCHAR},	 
		 #{watch,jdbcType=INTEGER},
		 #{px,jdbcType=INTEGER}
		)
	</insert>
	
	<update id="update" parameterType="com.app.view.pojo.Category">
		UPDATE video SET
		name=#{name,jdbcType=VARCHAR},
		PX=#{px,jdbcType=INTEGER},
		watch=#{watch,jdbcType=INTEGER},	 
		cid=#{cid,jdbcType=VARCHAR},	 
		imgurl=#{imgurl,jdbcType=VARCHAR},	 
		remark=#{remark,jdbcType=VARCHAR}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	   DELETE FROM video WHERE id IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
	
	
		<delete id="deleteImg">
	   DELETE FROM video_img WHERE vid IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
	<select id="findimgs" resultType="java.util.Map">
	 select * from  video_img WHERE vid  IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
	

	
	<insert id="addrelation" parameterType="com.app.view.pojo.Video">
		INSERT INTO 
		video_img(vid,imgurl) 
		VALUES
		<foreach collection="imgs" item="img"  open=""  separator="," close="">
			(#{id},#{img})
		</foreach>
	</insert>
	
	
</mapper>