<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.LabelMapper">
	
	<select id="list" resultType="com.app.view.pojo.Label" >
		 select id, name from Label
		 <where>
		 	<if test="name !=null and name != '' ">
		 		name like CONCAT('%', #{name}, '%')
		 	</if>	 
		 </where>	 

	</select>
	
	<insert id="add" parameterType="com.app.view.pojo.Label">
		INSERT INTO Label (name) VALUES (#{name,jdbcType=VARCHAR})
	</insert>
	
	
		<insert id="addConn">
			INSERT INTO video_Label(vid,lid) VALUES
		<foreach collection="labelids" item="lid" open=""  separator="," close="">
		(#{vid},#{lid})
		</foreach>
	</insert>

	
	<update id="update" parameterType="com.app.view.pojo.Label">
		UPDATE Label SET
		name=#{name,jdbcType=VARCHAR}
		WHERE id = #{id}
	</update>
	
	<delete id="delete">
	   DELETE FROM Label WHERE id IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
	<delete id="deleteConn">
	   DELETE FROM video_Label WHERE lid IN
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</delete>
	
		<delete id="deleteConnByid">
	   DELETE FROM video_Label WHERE vid =#{vid}
	</delete>
	
		<select id="findVideo" resultType="java.lang.Integer">
	    select count(l.id) from  
	 	Label l inner join  video_Label m on m.lid = l.id 
	 	where l.id in 
		<foreach collection="list" item="id"  open="(" separator=","
			close=")">
			#{id}
		</foreach>
	</select>
	


</mapper>