<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.view.mapper.SetmealMapper">

	
		<select id="list" resultType="com.app.view.entry.Setmeal">
			select c.code_id as id,c.name,
			IFNULL(m.one,0) one,
			t.text
			from code c left join code_meal m on m.code_id = c.code_id
			left join code_text t on t.code_id = m.code_id
			where c.type='level' and c.code_id not in ('0','100')	
			<if test="id !=null and id != '' ">
		 		and c.code_id  <![CDATA[ >]]> #{id}
		 	</if>	 
		 	order by CONVERT(c.code_id,SIGNED)	 
		</select>
		
		<select id="findByRole" resultType="com.app.view.entry.Setmeal">
			select c.code_id as id,c.name,
			IFNULL(m.one,0) one
			from code c left join code_meal m on m.code_id = c.code_id
			where c.type='level' and c.code_id not in ('0','100')	
			<if test="id !=null and id != '' ">
		 		and c.code_id =#{id}
		 	</if>	 			
		</select>
		
		<insert id="add" parameterType="com.app.view.entry.Setmeal">
		INSERT INTO code_meal (code_id,one)
			  VALUES(#{id,jdbcType=VARCHAR},
			  #{one,jdbcType=INTEGER})		
		</insert>

</mapper>